:root {
    --light-yellow-color : #F9FC6D;
    --dark-blue-color : #141E29;
    --light-blue-color : #2b4159;
    --dark-green-color: #00777C;
    --light-green-color: #27A785;

    --display-err-msg : none;

    --small-gap : 0.5rem;
    --medium-gap : 1.5rem;
    --large-gap : 2rem;

    --small-padding : 1rem;
    --medium-padding : 1.5rem;
    --large-padding : 2rem;
    --larger-padding : 3rem;

    --form-control-color : #141E29;
    --form-control-disabled : #959495;

}

@font-face {
    font-family: 'Fonarto Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Fonarto Regular'), url('./assets/fonts/fonarto.regular.woff') format('woff');
}

@font-face {
    font-family: 'Mona Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/MonaSans-Regular.otf');
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, html {
	line-height: 1;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    height: 100vh;
    overflow-y: auto;
}

.logo {
    font-family: 'Fonarto Regular';
    font-size: 1.5rem;
    color: var(--light-yellow-color);
}
.img-credit {
    font-family:'Mona Sans Regular', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    color: var(--light-yellow-color);
    margin-top: auto;
    justify-self: end;
}

.img-credit > a {
    color: var(--light-yellow-color);
}
.form-sidebar {
    background-image: url(./assets/images/minimal-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: var(--large-padding, 1.5rem);
    width: 40vh;
    height: 100%;
    float: left;
    display: none;
    position: sticky;
    top: 0;
}

.sign-up-container {
    font-family: 'Mona Sans Regular', Tahoma, Geneva, Verdana, sans-serif;
    color: #141E29;
    display: flex;
    flex-direction: column;
    padding: var(--medium-padding, 1.5rem);
    max-width: 554px;
    height: 100%;
    margin-inline: auto;
}

.sign-up-container > * {
   padding-block: var(--medium-padding);
}

.sign-up-container > :first-child {
    margin-top: auto;
}

.sign-up-container > :last-child {
    margin-bottom: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap, 1.5rem);
}

form > .form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--medium-gap, 1.5rem);
}

form .form-row > .form-control {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap, 0.5rem);
    width: 100vw;
}

h2 {
    font-size: 1.5rem;
}

h2, label:not([for=tos-check]) {
    font-weight: bold;
}
label > span {
    color: tomato;
}

input, button {
    appearance: none;
    font-size: 1rem;
}

input:not([type=checkbox]) {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 1rem;
    transition: ease-in-out 0.1s;
}

input:not([type=checkbox]):hover, input:not([type=checkbox]):focus, input:not([type=checkbox]):active {
    border: 1px solid rgb(230, 230, 230);
    outline: none;
    box-shadow: 0px 0px 0px 5px #20334215 ;
}

input:not([type=checkbox]):invalid:focus {
    border: 1px tomato solid;
}

input[type=checkbox]:invalid {
    border: 1px tomato solid;
}

input:not([type=checkbox]):valid:focus {
    border: 1px var(--light-green-color) solid;
}

input[type=checkbox] {
    border: 1px solid rgb(228, 228, 228);
    padding: calc(var(--small-padding) * (0.6));
    background-color: #fff;
    margin: 0;
    width: 0.5rem;
    height: 0.5rem;
    display: grid;
    place-content: center;

}

input[type=checkbox]::before {
    content: '';
    background-color:var(--form-control-color);
    width: 0.8rem;
    height: 0.8rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=checkbox]:checked::before{
    transform: scale(1);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

[for=tos-check] {
    font-size: calc(1rem * 0.9);
}

form .form-row:nth-child(5) > .form-control {
    display: flex;
    flex-direction: row;
}

form .form-row:last-child {
    justify-content: center;
}

form .form-row:last-child div:last-child {
    font-size: calc(1rem * 0.9);
}

button {
    background-color: var(--dark-blue-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-style: none;
    border-radius: 2rem;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: var(--light-blue-color);
    cursor: pointer;
}

button:active {
    background-color: var(--light-blue-color);
}

a {
    color: var(--dark-blue-color);
}

@media screen and (min-width: 554px) {
    form .form-row:first-child > .form-control {
        flex-basis: content;
    }
}

@media screen and (min-width: 1108px ) {
    .form-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(988px/2);
    }
}


@media screen and (min-width: 1335px ) {
    .form-sidebar {
        width: calc(988px/2) + 40rem;
    }
    .sign-up-container {
        margin-left: 40rem;
    }
}